<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left error_center_class">
                        <figure class="error">
                            <img src="image/img-3.jpg" alt="error">
                        </figure>

                        <p class="error_center_class">Welcome to weather app </p>
                        <h1 class="error_center_class">{{errorMsg}}</h1>
                        <a href="/" class="error_center_class"><button>Go Back</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>