<!doctype html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    {{!-- main header --}}
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/about.jpg" class="w-100" alt="kish">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to about us</p>
                        <h1>This Is Giving The<span class="text_clr"> Information </span>Of <span class="text_clr">Weather Status and Temp</span> Of Your City</h1>
                        <a href="/about"><button>About me</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    {{!-- footer code --}}
    {{>footer}}

</body>

</html>